{% extends 'adds/szablony_jinja.html' %}

{% block narzedzia %}
  <div id="karty-narzedzi">
    {% for x in range(resztaKart[0]) %}
    <div class="karta-narzedzie zakryta">
      <div class="flipper">
        <div class="rewers-karty">
        </div>
        <div class="awers-karty">
        </div>
      </div>
    </div>
    {% endfor %}

  {% for narzedzie in narzedzia | reverse() %}
    <div class="karta-narzedzie" title="{{narzedzie.tytul}}">
      <div class="flipper">
        <div class="rewers-karty">
        </div>
        <div class="awers-karty {{narzedzie.id}}"></div>
      </div>
    </div>
  {% endfor %}

  </div>
{% endblock %}


{% block ordery %}

  {% for tyl in range(resztaKart[1]) %}
  <div class="karta-zamowienie tydzien{{tydzien}} order-zakryty">
    <div class="flipper">
      <div class="rewers-karty">
      </div>
      <div class="awers-karty">
      </div>
    </div>
	</div>
  {% endfor %}

  {% block zamowieniaModal %}
	{% for zamowienie in zamowienia | reverse() %}
	<div class="karta-zamowienie tydzien{{tydzien}}" title="Zamówienia królewskie">
    <div class="flipper">
      <div class="rewers-karty">
      </div>
      <div class="awers-karty">

        <div class="matsy-zamowienie">
        {% for kostka in zamowienie.kostkiSoli.kostki %}
          {% set a = loop.index0 %}
            {% for i in range(kostka) %}
              <div class="kostka-soli rd{{a}}"></div>
            {% endfor %}
        {% endfor %}
        </div>

        <div class="monetka-zamowienie centered">
          <div class="centered">{{zamowienie.nagroda}}</div>
        </div>
      </div>
    </div>
	</div>
	{% endfor %}
  {% endblock %}
  {% endblock %}

{% block zrealizowaneZamowienia %}

{% for x in range(maksZamowien+1) %}
  {% if zrealizowaneZamowieniaVar == loop.index0 %}
      <svg height="23" width="23" class="highlighted">
        <circle cx="12" cy="11" r="11" stroke="#666666" stroke-width="1" fill="rgba(0,0,0,0.4)"></circle>
        <text x="7" y="16" fill="#f0eabb">{{loop.index0}}</text>
      </svg>
  {% else %}
      <svg height="23" width="23">
        <circle cx="12" cy="11" r="11" stroke="#666666" stroke-width="1" fill="rgba(0,0,0,0.4)"></circle>
        <text x="7" y="16" fill="#f0eabb">{{loop.index0}}</text>
      </svg>
  {% endif %}
{% endfor %}

{% endblock %}

{% block kosztGornikow %}

  {% for x in kosztGornikowVar %}
    {% if x.b == True %}
        <svg height="23" width="23" class="highlighted">
          <circle cx="12" cy="11" r="11" stroke="#666666" stroke-width="1" fill="rgba(0,0,0,0.4)"></circle>
          <text x="7" y="16" fill="#f0eabb">{{x.a}}</text>
        </svg>
    {% else %}
        <svg height="23" width="23">
          <circle cx="12" cy="11" r="11" stroke="#666666" stroke-width="1" fill="rgba(0,0,0,0.4)"></circle>
          <text x="7" y="16" fill="#f0eabb">{{x.a}}</text>
        </svg>
    {% endif %}
  {% endfor %}

{% endblock %}

{% block aktualnyTydzien %}

{% for x in range(3) %}
  {% if tydzien == loop.index %}
      <svg height="23" width="23" class="highlighted">
        <circle cx="12" cy="11" r="11" stroke="#666666" stroke-width="1" fill="rgba(0,0,0,0.4)"></circle>
        <text x="7" y="16" fill="#f0eabb">{{loop.index}}</text>
      </svg>
  {% else %}
      <svg height="23" width="23">
        <circle cx="12" cy="11" r="11" stroke="#666666" stroke-width="1" fill="rgba(0,0,0,0.4)"></circle>
        <text x="7" y="16" fill="#f0eabb">{{loop.index}}</text>
      </svg>
  {% endif %}
{% endfor %}

{% endblock %}

{% block targowisko %}

	{% for x in targ %}
		{% if x.jestKostka == False %}
      <div class="stanowisko-targ" title="{{x.cena}} grosz{% if x.cena < 5 %}e{% else %}y{% endif %}">
        <svg height="40" width="40" class="kostka-soli-targ wykupione" style="background-position:{{x.koordsy}}">
          <circle cx="20" cy="20" r="19" stroke="black" stroke-width="1" fill="transparent"/>
        </svg>

      </div>
		{% else %}
			<div class="stanowisko-targ" title="{{x.cena}} grosz{% if x.cena < 5 %}e{% else %}y{% endif %}">
        <svg height="40" width="40" class="kostka-soli-targ" style="background-position:{{x.koordsy}}">
				  <circle cx="20" cy="20" r="19" stroke="black" stroke-width="1" fill="transparent"/>
			  </svg>

      </div>
		{% endif %}
	{% endfor %}

{% endblock %}

{% block helper%}

	{% for x in pomocnicy %}
  <div id="pomocnik{{loop.index-1}}" title="Stanowisko pomocnika">
  	<svg class="pomocnik" height="40" width="40" style="background-position:{{x*-33+7}}px">
  	  <circle cx="20" cy="20" r="19" stroke="#999999" stroke-width="1.5" fill=transparent />
  	</svg>
  </div>
	{% endfor %}

{% endblock %}

{% block castle %}

		<div class='kolejka-do-zamku' title="Droga do zamku">
		{% for gracz in kolejki[1] %}
			<div class='gornik pionek{{gracz.lpGracza}}'></div>
		{% endfor %}
		</div>
    <div class='kolejka-do-zamku' title="Droga do zamku">
		{% for gracz in kolejki[0] %}
			<div class='gornik pionek{{gracz.lpGracza}}'></div>
		{% endfor %}
		</div>

{% endblock %}

{% block kopalnia %}
	<div id="kopalnia-grid">
		<div id="szyb-holder">
		{% for szyb in kopalnia.szyb %}
			<div class="szyb" style="background-position:{{loop.index0*-95-1993}}px">
        <div class=gornicy-kopalnia>
			    {% for zip in szyb.gracze %}
				    <div class='gornik pionek{{zip.lpGracza}}'></div>
			    {% endfor %}
        </div>
			</div>
		{% endfor %}
		</div>

		{% for poziomy in kopalnia.komnaty%}
    {% set levelVar = loop.index %}
			{% for czescPoziomu in poziomy %}

      {% if loop.index is divisibleby(2) %}
				<div class="komnata-holder">
			{% else %}
				<div class="komnata-holder lewy">
			{% endif %}

      {% set loopVar = loop.index %}

      {% for komnata in czescPoziomu %}

        {% if komnata.odkryte == True %}
          {% set klasa = "odkryte" %}
        {% else %}
          {% set klasa = "zakryte" %}
        {% endif %}

			<div class="komnata {{klasa}} level{{levelVar}}">
        {% if komnata.odkryte == True %}
          <div class="flipper" style="transform:rotateY(0deg)">
            <div class="rewers-karty">
            </div>

            <div class="awers-karty {{komnata.tlo}}">
              <div class="matsy-kopalnia">
    						{% for material in komnata.kostki.kostki %}
    							{% set a = loop.index0 %}
    								{% for i in range(material) %}
    									<div class="kostka-soli rd{{a}}"></div>
    								{% endfor %}
    						{% endfor %}
              </div>

  						<div class='gornicy-kopalnia'>
              {% for zip in komnata.zmeczeni %}
                <div class='gornik pionek{{zip.lpGracza}} zmeczony' style='background-position:{{(zip.lpGracza)*-33}}px'></div>
              {% endfor %}

  						{% for zip in komnata.gracze %}
  							{% set lup = loop.index %}
  							<div class='gornik pionek{{zip.lpGracza}}'></div>
  						{% endfor %}
              </div>

  						<div class="woda-kopalnia">
  						{% for wd in range(komnata.woda) %}
  							<div class="kostka-soli rd3"></div>
  						{% endfor %}
              </div>
            </div>
          </div>
          {% else %}
            <div class="flipper">
              <div class="rewers-karty">
              </div>
              <div class="awers-karty">
              </div>
            </div>
          {% endif %}
      </div>
      {% endfor %}
    </div>
		{% endfor %}
		{% endfor %}
	</div>
{% endblock %}

{% block playerInfoMain%}

<div id="imie-gracza">
  <div value="pionek{{ag.lpGracza}}">
    <b>{{ag.imie}} | {{ag.akcje}}/2</b>
  </div>
</div>

{% block playerTools %}
<div id="narzedzia-gracza">
  <div>
  {% for x in playerTools %}
    {% if x.used == False %}
    <div class="narzedzie narzedzie-inwentarz {{x.id}}"  title="{{x.tytul}}" value="{{x.id}}"></div>
    {% else%}
    <div class="narzedzie narzedzie-inwentarz {{x.id}} uzyte-narzedzie"  title="{{x.tytul}}" value="{{x.id}}"></div>
    {% endif %}
  {% endfor %}
  </div>
</div>
{% endblock %}

<div id="gornicy-gracza">
  {% block zipy %}
  <div class="gornicy">
        {% for i in range(ag.gornicy) %}
          <div class="gornik pionek{{ag.lpGracza}}"></div>
        {% endfor %}
    </div>
  {% endblock %}
</div>

<div class="element-info-gracza" id="materialy-gracza">


<div id="kostki-soli-info">
{% for kostka in ag.kostkiSoli.kostki %}
{% set mainIndeks = loop.index0 %}
  {% for i in range(kostka) %}
  <div class="kostka-soli rd{{mainIndeks}}" ></div>
  {% endfor %}
{% endfor %}
</div>

</div>

<div id="pieniadze-gracza">
{% block hajs %}
  {% set a50 = ag.kasa//50 %}
  {% set a20 = (ag.kasa-a50*50)//20 %}
  {% set a5 = (ag.kasa-a50*50-a20*20)//5 %}
  {% set a1 = (ag.kasa-a50*50-a20*20-a5*5) %}

  {% for x in range(a50) %}
    <div class="monetka-gracza m50"></div>
  {% endfor %}

  {% for x in range(a20) %}
    <div class="monetka-gracza m20"></div>
  {% endfor %}

  {% for x in range(a5) %}
    <div class="monetka-gracza m5"></div>
  {% endfor %}

  {% for x in range(a1) %}
    <div class="monetka-gracza m1"></div>
  {% endfor %}




{% endblock %}
</div>


{% endblock %}




{% block head %}

{% endblock %}
